RESEND_API_KEY=re_xxxxxxxxxxxx
RESEND_FROM_EMAIL=noreply@vetreriamonferrina.com
VETRERIA_EMAIL=info@example.com
SANITY_PROJECT_ID=xxxxxxxxxx
SANITY_DATASET=production
SITE_URL=https://vetreriamonferrina.com
