---
import BaseLayout from '../layouts/BaseLayout.astro';
export const prerender = true;
---

<BaseLayout title="Home">
  <h1 class="text-4xl font-heading text-primary">Vetreria Monferrina</h1>
  <p class="text-lg font-body text-neutral-700">Sito in costruzione</p>
</BaseLayout>
